*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100% ;
  height: 100%;
}

.header {
  position: relative;
  z-index:1;
  text-align: center;
  font-size: 14px;
  padding: 1% 6% 1% 6%;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  background-color: rgb(10, 33, 63);
}
.icon-header i {
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-left: 8px;
}
.container-logo {
  background-color: rgb(255, 255, 255);
  position:relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.3% 0% 0.3% 6%;
  justify-content: space-between;

}
.container-logo-dos {
  display: flex;
  width: 46%;
  justify-content: space-between;
}
.container-logo-dos img {
  width: 240px;
  height: 80px;
}
.buscar {
  position: relative;
  padding: 5px;
}
.buscar input {
  width: 0px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: black;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
  transition: all 0.6s ease;
}
.btn {
  width: 55px;
  height: 55px;
  line-height: 55px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #440080;
  line-height: 55px;
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.buscar:hover input {
  width: 240px;
}
.buscar input:focus {
  width: 240px;
}

nav {
  margin: 0px 74px;
  position: relative;
  z-index: 1;
  margin-bottom: 2px;
  box-shadow: 1px 1px 10px 1px;
  background-color: rgb(10, 33, 63);
}

ul {
  display: flex;
  list-style-type: none; /* Quitar viñetas de la lista */
  justify-content: space-evenly;
  align-items: center;
  padding: 6px;
  font-size: 20px;

}
ul li {
  display: inline-block;
  position: relative;
  text-transform: uppercase;


}
ul li i {
  margin-right: 10px;
  font-size: 14px;
}
li a {
  font-family: sans-serif;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 20px; /* Espaciado interno */
  color: white;
  text-decoration: none; /* Quitar subrayado de los enlaces */
}

li a:hover {
  background-color: white;
  color: rgb(3, 3, 3);
  border-radius: 5px;
  width: 150px;
}
li a:focus {
  color: rgb(41, 105, 105);
  font-weight: 900;
  background-color: rgb(255, 255, 255);
}
.slideshow-container {
  position: relative;
  width: 100%;
  margin: auto;
}

.slide {
  display: block;
  position: relative;
  z-index: 0;
  display: none;
}

.slide img {
  width: 100%;
  position:relative;
  z-index:2;
  height: 90vh;
  margin-top: -10%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  height: 14vh;
  opacity: 30%;
  border-radius: 0 5px 5px 0;
  z-index: 1;
}
.prev:hover,
.next:hover{
    opacity: 60%;
}
.prev {
  left: 0;
  border-radius: 5px 0 0 5px;
}

.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}
.fade {
  animation: fade 1.5s;
}
.menu{
    display: none;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

ul li ul.submenu li {
  display: block;
  color: white;
  font-size: 13px;
  height: 20px;
  padding: 1px;
  line-height: 20px;
  text-transform: capitalize;

  margin-bottom: 18px;
}
ul li ul.submenu li a {
  margin-top: -10px;
  margin-bottom: 15px;
}
ul li ul.submenu {
  width: 180px;
  position: absolute;
  display: none;
  z-index: 3;
  margin-left: 25px;
  padding: 4px;
  margin-bottom: 8px;
  background-color: rgb(10, 33, 63);
}

ul li:hover ul.submenu {
  display: block;
}

.ubicacion {
  width: 80%;
  margin: auto;
  background-color: rgb(228, 228, 228);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  box-shadow: 1px 1px 10px 1px;
  margin-top: 200px;
  margin-bottom: 200px;
}
.ubicacion p {
  background-color: rgb(4, 13, 49);
  padding: 30px;
  font-size: 40px;
  height: 20%;
  color: white;
  border-radius: 10px;
}
.ubicacion p i {
  margin-right: 10px;
}
.ubicacion iframe {
  width: 60%;
  height: 400px;
  box-shadow: 1px 1px 10px 1px;
}
footer{
  width: 100%;
  font-family:   sans-serif;
  font-size: 18px;
}
footer p {
  margin-bottom: 10px;
  font-size: 13px;
}

.footer .icon_footer {
  width: 100%;
  font-size: 30px;
  margin: auto;
  color: white;
  text-align: center;
}
.footer img{
  width: 300px;
}
.icon_footer i {
  color: rgb(255, 255, 255);
  margin: 5px;
  font-size: 40px;
  margin-left: 6px;
  text-align: center;
}
.icon_footer i:hover{
  opacity: 60%;
  transform: scale(1.2);
}
footer {
  background-color: black;
  width: 100%;
}
.footer {
  display: flex;
  width: 90%;
  color: white;
  margin: auto;
  justify-content: space-around;
  padding: 40px 40px 10px 30px;
}
.footer div {
  margin-right: 50px;
  width: 25%;
}
.footer div:nth-child(3) {
  margin-right: 50px;
  width: 15%;
}
.final {
  background-color: black;
  color: rgb(218, 218, 218);
  text-align: center;
  padding: 10px;
  text-transform: uppercase;

}
/*NOTICA*/
.seccion_noticias {
  width: 100%;
  margin: auto;
  text-align: center;
}
.seccion_noticias h1 {
  padding-top: 30px;
  margin-bottom: 20px;
  color: rgb(96, 106, 119);
  font-size: 40px;
  text-align: left;
  padding-left: 18%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.conteiner-noticias {
  margin: auto;

}
.noticias {
  width: 65%;
  margin: auto;
  padding: 10px;
  height: 20vh;
  border-radius: 25px;
  display: flex;
  height: 60vh;
  box-shadow: 1px 1px 10px 1px;
  margin-bottom: 40px;
  overflow: hidden;
}
.noticias:nth-child(1){
  height: 53vh;
}
.noticias:nth-child(2){
  height: 56vh;
}
.texto_noticias button {
  border: 1px solid black;
  padding: 15px 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 13px;
  float: right;
  margin-top: 10px;
  width: 120px;
  background-color: rgb(13, 68, 70);
  border-radius: 5px;
  color: rgb(252, 252, 252);
  cursor: pointer;
  
}
.texto_noticias button:hover{
  transform: scale(1.02);
}
.noticias .texto_noticias {
  width: 60%;
  padding: 30px;
  margin-left: 2px;
  text-align: justify;
}
.noticias .texto_noticias h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
  color: gray;
  font-family: sans-serif;
}
.noticias .texto_noticias p {
  font-size: 15px;
}
.img_noticas {
  display: flex;
  overflow: hidden;
  margin-right: 30px;
  width: 40%; 
  margin-left: 20px;
  border: 2px ;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img_noticias img {
  width: 100%;

  padding-right: 100px;
  object-fit: contain;
  padding-left: 10px;

}
/*Seccion Mision*/
.seccion_mision {
  width: 80%;
  margin: auto;
}
.container_mision {
  display: flex;
  width: 70%;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
}
#green {
  border: 4px solid rgb(197, 111, 40);
}
.icono_seccion_mision img {
  width: 130px;
}


.icono_seccion_mision {
  margin-top: 40px !important;
  border-radius: 50%;
  width: 55%;
  height: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blue {
  border: 4px solid rgb(17, 148, 148);
}
.icono_seccion_mision i {
  font-size: 80px;
  color: rgb(134, 68, 15);
}
.text_mision_vision {
  height: 20%;
  font-size: 14px;
  width: 74%;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.ver_mas {
  background-color: rgb(29, 148, 148);
  color: white;
  border: 0px;
  padding: 12px;
  font-size: 10px;
  border-radius: 12px;
  width: 40%;
  cursor: pointer;
}

.container_tex_vision {
  color: grey;
  width: 35%;
  text-align: center;
  border-radius: 20px;
  transition: 0.5s; /* Transición suave de transformación */
}
.container_tex_vision:hover {
  transform: scale(1.1);
}
.container_tex_vision .h3 {
  color: orangered;
}
.container_tex_vision h3 {
  margin: 20px;
  color: rgb(8, 88, 102);
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
} 

.ver_mas_cuadro {
  padding: 30px;
  padding-top: 60px;
  border-radius: 30px;
  margin-top: -158%;
  width: 100%;
  height:68vh;
  padding-top: 40px;
  font-size: 13px;
  position: absolute;
  background-color: white;
}
.text {
  text-align: justify;
}
#ver_mas_cuadro_vision {
  display: none;

}
#ver_mas_cuadro_mision {
  display: none;
}
.cerrar_cuadro {
  width: 50%;
  background-color: rgb(235, 158, 15);
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin-top: 15px;
  padding: 10px;
  border: 0px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}
.seccion_servicios {
  padding: 50px 0px;
  width: 80%;
  margin:auto;
}
.seccion_servicios p {
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
  color:rgb(53, 99, 117);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 4px;
}
.conteiner-servicios i{
  font-size: 120px;
  margin-top: 10px;
  color:rgb(53, 84, 104);
}
.conteiner-servicios {
  width: 83%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}



@media (min-width: 768px) {
  .item {
      width: 22%; /* Ancho del elemento en pantallas más grandes */
  }
}

.servicio {
  display: flex;
  flex-direction: column;
  width:30%;
  margin-bottom: 20px; /* Espaciado entre elementos */
  background-color: #f0f0f0; /* Color de fondo para visualización */
  justify-content: center;
  align-items: center;
  border: 1px black;
  box-shadow: 1px 1px 10px 1px #094f5c;
  border-radius: 10px;
  margin:13px;
  font-size: 16px;
  font-family: sans-serif;
  text-align:center;
  height: 36vh;
  cursor:pointer;
}
.servicio:hover{
  transform: scale(1.02);
}
.servicio h3{
  color:rgb(124, 124, 124);
  text-transform: uppercase;
  margin-bottom: 2px;
  
}
.contenedor-contactos {
  display: flex;
  border-radius: 20px;
  width: 75%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

form {
  width: 47%;
  margin-top: 20px;
  background-color: rgb(8, 79, 87);
  box-shadow: 1px 1px 10px 1px;
}
form:hover{
  transform: scale(1.02);
  transition: 2s;
}
form h2{
  margin-left: 30px;
  margin-top:10px;
  color:white;
  font-family: sans-serif;
  font-size: 24px;

}

.mapa {
  padding: 20px 60px;
  width: 60%;
}
.mapa iframe {
  width: 100%;
  height: 104%;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
}
.mapa iframe:hover{
  transform: scale(1.01);
  transition: 2s;
}
.input-group {
  padding: 23px 30px 20px 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: left;
}
h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
label {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-family:sans-serif ;
}
label i {
  color: rgb(24, 160, 137);
  margin-right: 4px;
}
input,
textarea {
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 18px;
  border: 2px solid rgb(87, 85, 82);
  outline: none;
}
textarea {
  height: 40px;
}


.form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.form-txt a {
  color: skyblue;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.btn1 {
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: 0;
  background-color: rgb(15, 82, 87);
  border-radius: 25px;
  cursor: pointer;
  width: 40%;
  margin: auto;
}
.btn1:hover {
  opacity: 50%;
  transform: scale(1.1);
}
/*SECCION FUNCIONARIOS*/
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #196771;
  font-size: 30px;
  font-family: sans-serif;
  height: 15vh;
  font-weight:800;
}
.contenedor_de_Imagen{
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor_de_Imagen img{
  border-radius: 20px;
}
.seccion_funcionarios{
  width: 100%;
}
.funcionario{
  width: 64%;
  margin:auto;
  padding:20px;
  padding-left: 40px;
  display: flex;
  margin-bottom: 50px;
  border-radius: 40px;
  box-shadow: 1px 1px 10px 1px;
}
.texto_funcionario{
  width: 80%;
  margin:auto;
  margin-bottom: 50px;
}

.cargo{
  color:rgb(10, 37, 57);
  text-transform:uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 90%;
  word-spacing: 1px;
  font-size: 18px;
  font-weight: 900;
  text-align: left;
}

.titulo_funcionario_uno{
  color: rgb(44, 142, 170);
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}

.descripcion{
  color: gray;
  font-family: sans-serif;
  align-items: center;
  text-decoration: none;
  word-spacing: 5px;
  margin-bottom: 4px;
  font-size:10px;
  font-weight: 600;
}

/*SECCION DISTRITO*/
.secction_distrito{
  width: 100%;
}
.conteiner-distritos{
  width: 90%;
  margin: auto;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
}
.titulo_distrito{
  width: 89%;
  margin: auto;
  font-weight: 900;
  font-size: 30px;
  padding-top: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  text-align: center;
  color: #094f5c;
}

.contenedor_imagen_distrito {
  width: 23%;
  margin: 10px;
  height: 34vh;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.contenedor_imagen_distrito:hover{
  transform: scale(1.02);
  transition: 0.4s;
}
.contenedor_imagen_distrito p{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.contenedor_imagen_distrito img{
  object-fit: cover;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}


/*SECCION HISTORIA*/
.seccion_historia {
  width: 100%;
}
.contenedor_historia {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  line-height: 20px;
}
.seccion_historia h2 {
  margin-bottom: 17px;
  color: rgb(17, 17, 83);
}
.contenedor_historia div {
  text-align: justify;
}

.historia_flex {
  display: flex;
  margin: auto;
}
.historia div {
  width: 100%;
  margin-right: 2%;
}
.historia img {
  width: 100%;
  object-fit: cover;
}
#agrandar {
  padding: 40px 40px 30px 40px;
  border: 2px solid rgb(133, 133, 133);
  box-shadow: 0.7px 0.7px 6px 0.2px black;
  margin-bottom: 40px;
}
#agrandar:hover {
  transition: 1s;
  transform: scale(1.04);
}




/* REESPONSIVE DESING ENCABEZADO*/
@media  (max-width: 668px) {
    .header {
      display: none;
    }
    .container-logo {
      width: 100%;
      background-color: white;

    }
    .container-logo-dos img:nth-child(1){
      position: absolute;
      width: 2000px;
      height: 100px;
      
    }
       
    .container-logo-dos img:nth-child(3){
      display: none;

    }
    .buscar{
        display: none;
    }
 
    nav {
        position: absolute;
        z-index: 1;
        box-shadow: 1px 1px 10px 1px;
        width: 30%; 
    }

    .menu{
        width: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40% ;
    }
    .menu button{
      margin-top: 35px;
      font-size: 30px;
      background-color: white;
      border: 0px;
    }
 
    ul li ul.submenu li {
      display: block;
      color: white;
      font-size: 13px;
      height: 30px;
      width: 180px;
      margin-top:1px;
      font-size: 8px;
      margin-bottom: 18px;
    }

    ul li ul.submenu li a {
      width: 100%;
    }
    
    ul li ul.submenu {
      width: 200px;
      position: absolute;
      display: none;
      z-index: 3;
      margin-left: 130px;
      margin-top: 4px;
    }
    
    .menu i{
      text-align: right;
      justify-content: right;
      color: rgb(0, 0, 0);
    }

    ul {
      background-color: rgb(10, 33, 63);
      display: block;
      margin-left: -45%;
      width: 100%;
      list-style-type: none; /* Quitar viñetas de la lista */
      justify-content: space-evenly;
      align-items: center;
      background-color: rgb(10, 33, 63);
      display: none;
      margin-right: 100px;
    }
      ul li {
        display: block;
    }
      ul li i {
        font-size: 14px;
      }
      li a {
        font-family: sans-serif;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 20px; /* Espaciado interno */
        width: 100px;
        text-decoration: none; /* Quitar subrayado de los enlaces */
      }

    main{
      width: 100%;
    }

    .slide img {
      width: 100%;
    }

    .footer{
      display: block;
      width: 100%;
      text-align: center;
    }
    .footer div{
      width: 80%;
      margin: auto;
      margin-bottom: 20px;
    }
    .icon_footer i{
      font-size: 30px;
    }
    .footer div:nth-child(3) {
      margin-right: 50px;
      width: 100%;
    }

    /* Opcional: ajustar el tamaño de fuente o el espacio entre elementos según sea necesario */
    /*MISION*/
    .seccion_mision{
      display: block;
      margin-bottom: 30px;

    }
    .container_mision{
      display: block;
      width: 100%;
      margin-top: 100px;
      margin: auto;
    }

    .container_tex_vision {
      color: grey;
      margin: auto;
      padding: 10px;
      margin-top: 20px;
      width: 100%;
      text-align: center;
      border-radius: 20px;
      transition: 0.5s; /* Transición suave de transformación */
    }
    .container_tex_vision:nth-child(2) {
      margin-top: 30px;
    }

    .container_tex_vision button{
      display: none;
    };
    .container_tex_vision h3 {
      font-size: 228px;
      margin: 20px;
      color: rgb(8, 88, 102);
      font-weight: 900;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    } 

    .icono_seccion_mision{
      height: 20vh;
    }
    .contenedor_historia div{
      width:120%;
      margin-left: -10%;
    }

    .historia_flex{
      display:block;
      width:50%;
    }
    .historia_flex div{
      width: 80%;
      margin:auto;
    }
    .historia_flex img{
      margin-top:30px
    }
    .contenedor_historia h2{
      line-height: 33px;
    }

    .contenedor-contactos{
      display:block;
    }
    form{
      width: 100%;
      margin:auto;
      margin-top:40px;
    }
    form h2{
      padding: 20px 20px 6px 4px;
    }
    .mapa {
      margin-top: 30px;
      width: 100%;
    }
    .mapa iframe {
      margin-left:-28%;
      width:75vw;     
      height: 40vh;
      box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
    }

    .seccion_noticias h1 {
      font-size: 20px;
      margin-left:-13% ;
    }
    .conteiner-noticias {
      width: 90%;
      margin: auto;
    
    }
    .noticias {
      width: 100%;
      margin: auto;
      height: 28vh !important;
      border-radius: 25px;
      display: flex;
      box-shadow: 1px 1px 10px 1px;
      margin-bottom: 22px;
    }
  
    .noticias .texto_noticias {
      width: 60%;
      overflow: hidden;
      margin-left: -5px;
      margin-top: -28px;
      line-height: 15px;
      text-align: justify;
    }
    .noticias .texto_noticias h2 {
      font-size: 13px;
      text-align: left;
      color: gray;
      margin-left: -9%;
      font-family: sans-serif;
    }
    .noticias .texto_noticias p {
      font-size: 10px;
      height: 9vh;
      overflow: hidden;
      margin-top: -7%;
      margin-left: -9%;
    }

    .img_noticas {
      display: flex;
      overflow: hidden;
      width: 30%; 
      margin-top: -4px;
    }
    .img_noticas img{
      width: 100%;
      height: 100%;
    }

    .texto_noticias button{
      width: 50%;
      font-size: 10px;
      padding: 7px;
    }

    /*SERVICIOS*/
    
    .conteiner-servicios {
      display: flex;
      width: 100%;
    }
    .servicio{
      width: 100%;
      margin: auto;
      margin-bottom: 40px;
    }
    .servicio h3{
      font-size: 23px;
    }
    .seccion_servicios p{
      font-weight: 900;
    }
    /*DISTRITOS*/

    .conteiner-distritos{
      display: block;
      width: 100%;
    }
    .contenedor_imagen_distrito{
      width: 100%;
      margin: auto;
      margin-bottom: 40px;
    }

    /* SECCION DE FUNCIONARIOS    */
    .seccion_funcionarios{
      width: 100%;
    }
    .seccion_funcionarios h1{
      font-size: 22px;
      text-align: center;
    }
    .funcionario{
      width: 80%;
      display: block;
      height: 41vh;
      overflow: hidden;
    }
    .cargo{
      margin-left: -20%;
      font-size: 13px;
      width:70vw;
      text-align: center;
    }
    .funcionario img{
      margin: auto;
    }
    .contenedor_de_Imagen{
      width: 80%;
      margin-top: -12%;
      margin-left: 10px;
    }
    .contenedor_de_Imagen img{
      width: 80%;
      margin-top: -10%;
    }
    .titulo_funcionarios{
      margin-left: -20%;
      font-size: 26px;
      text-align: center;

    }
    .descripcion{
      display: none;
    }
    .titulo_funcionario_uno{
      background-color: #196771;
      display: none;
    }
  }
